@import "bootstrap/scss/bootstrap";




.board {
  width: 100%;
  max-width: 750px;
  margin: 20px auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2px;
  background: #fff;
  border: 2px solid #222;
  border-radius: 5px;
}

.cell {

  position: relative;
  aspect-ratio: 1 / 1;
  min-width: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  font-size: 12px;
  color: #2220;
  border-radius: 2px;

}

.cell .inner {
  padding: 6px;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.board-wrapper {
  padding: 8px;
  overflow-x: auto;
}


.cell[data-fruit="1"] {
  background: url('/src/imgs/frutes.png') no-repeat;
  background-size: 350px;
  background-position: -0px -10px;
}

.cell[data-fruit="2"] {
  background: url('/src/imgs/frutes.png') no-repeat;
  background-size: 350px;
  background-position: -75px -8px;
}

.cell[data-fruit="3"] {
  background: url('/src/imgs/frutes.png') no-repeat;
  background-size: 335px;
  background-position: -137px -8px;
}

.cell[data-fruit="4"] {
  background: url('/src/imgs/frutes.png') no-repeat;
  background-size: 350px;
  background-position: -220px -8px;
}

.cell[data-fruit="5"] {
  background: url('/src/imgs/frutes.png') no-repeat;
  background-size: 350px;
  background-position: -290px -8px;
}

.cell[data-fruit="6"] {
  background: url('/src/imgs/frutes.png') no-repeat;
  background-size: 350px;
  background-position: -10px -75px;
}

.cell[data-fruit="7"] {
  background: url('/src/imgs/frutes.png') no-repeat;
  background-size: 350px;
  background-position: -75px -75px;
}

.cell[data-fruit="8"] {
  background: url('/src/imgs/frutes.png') no-repeat;
  background-size: 350px;
  background-position: -140px -75px;
}

.cell[data-fruit="9"] {
  background: url('/src/imgs/frutes.png') no-repeat;
  background-size: 350px;
  background-position: -220px -75px;
}

.cell[data-fruit="10"] {
  background: url('/src/imgs/frutes.png') no-repeat;
  background-size: 350px;
  background-position: -290px -75px;
}

.cell[data-fruit="11"] {
  background: url('/src/imgs/frutes.png') no-repeat;
  background-size: 350px;
  background-position: -2px -140px;
}

.cell[data-fruit="12"] {
  background: url('/src/imgs/frutes.png') no-repeat;
  background-size: 350px;
  background-position: -75px -140px;
}

.cell[data-fruit="13"] {
  background: url('/src/imgs/frutes.png') no-repeat;
  background-size: 350px;
  background-position: -140px -140px;
}

.cell[data-fruit="14"] {
  background: url('/src/imgs/frutes.png') no-repeat;
  background-size: 350px;
  background-position: -215px -139px;
}

.cell[data-fruit="15"] {
  background: url('/src/imgs/frutes.png') no-repeat;
  background-size: 350px;
  background-position: -290px -140px;
}